@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kn3o2s');
  src:  url('fonts/icomoon.eot?kn3o2s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kn3o2s') format('truetype'),
    url('fonts/icomoon.woff?kn3o2s') format('woff'),
    url('fonts/icomoon.svg?kn3o2s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile-female:before {
  content: "\e900";
}
.icon-female:before {
  content: "\e900";
}
.icon-woman:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e900";
}
.icon-profile:before {
  content: "\e900";
}
.icon-avatar:before {
  content: "\e900";
}
.icon-3d:before {
  content: "\e150";
}
.icon-addressbook:before {
  content: "\e001";
}
.icon-airplane:before {
  content: "\e002";
}
.icon-amazon-2:before {
  content: "\e003";
}
.icon-amazon:before {
  content: "\e004";
}
.icon-ampersand:before {
  content: "\26";
}
.icon-anchor:before {
  content: "\e005";
}
.icon-android:before {
  content: "\e006";
}
.icon-aperture:before {
  content: "\e007";
}
.icon-apple:before {
  content: "\e008";
}
.icon-arrow-2-down:before {
  content: "\e009";
}
.icon-arrow-2-left:before {
  content: "\e00a";
}
.icon-arrow-2-right:before {
  content: "\e00b";
}
.icon-arrow-2-up:before {
  content: "\e00c";
}
.icon-arrow-3-down-left:before {
  content: "\e00d";
}
.icon-arrow-3-down-right:before {
  content: "\e00e";
}
.icon-arrow-3-down:before {
  content: "\2193";
}
.icon-arrow-3-left:before {
  content: "\2190";
}
.icon-arrow-3-right:before {
  content: "\2192";
}
.icon-arrow-3-up-left:before {
  content: "\e00f";
}
.icon-arrow-3-up-right:before {
  content: "\e010";
}
.icon-arrow-3-up:before {
  content: "\2191";
}
.icon-arrow-4-down:before {
  content: "\e011";
}
.icon-arrow-4-left:before {
  content: "\e012";
}
.icon-arrow-4-right:before {
  content: "\e013";
}
.icon-arrow-4-up:before {
  content: "\e014";
}
.icon-arrow-5-down:before {
  content: "\e015";
}
.icon-arrow-5-first:before {
  content: "\e016";
}
.icon-arrow-5-last:before {
  content: "\e017";
}
.icon-arrow-5-left:before {
  content: "\e018";
}
.icon-arrow-5-right:before {
  content: "\e019";
}
.icon-arrow-5-up:before {
  content: "\e01a";
}
.icon-arrow-down-left:before {
  content: "\e01b";
}
.icon-arrow-down-right:before {
  content: "\e01c";
}
.icon-arrow-down:before {
  content: "\e01d";
}
.icon-arrow-left:before {
  content: "\e01e";
}
.icon-arrow-right:before {
  content: "\e01f";
}
.icon-arrow-up-left:before {
  content: "\e020";
}
.icon-arrow-up-right:before {
  content: "\e021";
}
.icon-arrow-up:before {
  content: "\e022";
}
.icon-at:before {
  content: "\40";
}
.icon-award:before {
  content: "\e023";
}
.icon-backspace:before {
  content: "\e024";
}
.icon-baidu:before {
  content: "\e025";
}
.icon-bars:before {
  content: "\e026";
}
.icon-basket:before {
  content: "\e027";
}
.icon-beaker:before {
  content: "\e028";
}
.icon-bell:before {
  content: "\e029";
}
.icon-binoculars:before {
  content: "\e02a";
}
.icon-blogger-2:before {
  content: "\e02b";
}
.icon-blogger:before {
  content: "\e02c";
}
.icon-bluetooth:before {
  content: "\e02d";
}
.icon-bolt-2:before {
  content: "\e02e";
}
.icon-bolt:before {
  content: "\2301";
}
.icon-book-2:before {
  content: "\e02f";
}
.icon-book-3:before {
  content: "\e030";
}
.icon-book:before {
  content: "\e031";
}
.icon-bookmark:before {
  content: "\e032";
}
.icon-box:before {
  content: "\e033";
}
.icon-brush:before {
  content: "\e034";
}
.icon-calc:before {
  content: "\e035";
}
.icon-calendar-stroke:before {
  content: "\e036";
}
.icon-calendar:before {
  content: "\e037";
}
.icon-camera:before {
  content: "\e038";
}
.icon-cart-2:before {
  content: "\e039";
}
.icon-cart:before {
  content: "\e03a";
}
.icon-case:before {
  content: "\e03b";
}
.icon-cc:before {
  content: "\e03c";
}
.icon-cd:before {
  content: "\e03d";
}
.icon-chart-down-2:before {
  content: "\e03e";
}
.icon-chart-down:before {
  content: "\e03f";
}
.icon-chart-up-2:before {
  content: "\e040";
}
.icon-chart-up:before {
  content: "\e041";
}
.icon-chart:before {
  content: "\25d5";
}
.icon-chat-stroke:before {
  content: "\e042";
}
.icon-chat:before {
  content: "\e043";
}
.icon-check-2:before {
  content: "\e044";
}
.icon-check-3:before {
  content: "\2714";
}
.icon-check:before {
  content: "\2713";
}
.icon-chrome:before {
  content: "\e045";
}
.icon-clef-2:before {
  content: "\e046";
}
.icon-clef:before {
  content: "\e047";
}
.icon-clipboard:before {
  content: "\e048";
}
.icon-clock:before {
  content: "\e049";
}
.icon-cloud-download:before {
  content: "\e04a";
}
.icon-cloud-upload:before {
  content: "\e04b";
}
.icon-cloud:before {
  content: "\2601";
}
.icon-code:before {
  content: "\e04c";
}
.icon-coffee:before {
  content: "\e04d";
}
.icon-cog:before {
  content: "\2699";
}
.icon-cogs:before {
  content: "\e04e";
}
.icon-command:before {
  content: "\e04f";
}
.icon-comment-2-stroke:before {
  content: "\e050";
}
.icon-comment-2:before {
  content: "\e051";
}
.icon-comment-stroke:before {
  content: "\e052";
}
.icon-comment:before {
  content: "\e053";
}
.icon-cone-2:before {
  content: "\e054";
}
.icon-cone:before {
  content: "\e055";
}
.icon-contao:before {
  content: "\e056";
}
.icon-contrast:before {
  content: "\e057";
}
.icon-creditcard-2:before {
  content: "\e058";
}
.icon-creditcard:before {
  content: "\e059";
}
.icon-css3:before {
  content: "\e05a";
}
.icon-cursor:before {
  content: "\2196";
}
.icon-curved-arrow:before {
  content: "\e05b";
}
.icon-delicious:before {
  content: "\e05c";
}
.icon-denied:before {
  content: "\2298";
}
.icon-deviantart-2:before {
  content: "\e05d";
}
.icon-deviantart:before {
  content: "\e05e";
}
.icon-direction:before {
  content: "\e05f";
}
.icon-document-add:before {
  content: "\e060";
}
.icon-document-css:before {
  content: "\e061";
}
.icon-document-excel:before {
  content: "\e062";
}
.icon-document-openoffice:before {
  content: "\e063";
}
.icon-document-pdf:before {
  content: "\e064";
}
.icon-document-powerpoint:before {
  content: "\e065";
}
.icon-document-remove:before {
  content: "\e066";
}
.icon-document-word:before {
  content: "\e067";
}
.icon-document:before {
  content: "\e06a";
}
.icon-document-xml:before {
  content: "\e068";
}
.icon-document-zip:before {
  content: "\e069";
}
.icon-documents-2:before {
  content: "\e06b";
}
.icon-documents:before {
  content: "\e06c";
}
.icon-download-2:before {
  content: "\2913";
}
.icon-download:before {
  content: "\e06d";
}
.icon-dribbble-2:before {
  content: "\e06e";
}
.icon-dribbble:before {
  content: "\e06f";
}
.icon-dropbox:before {
  content: "\e070";
}
.icon-eject:before {
  content: "\23cf";
}
.icon-ember:before {
  content: "\e071";
}
.icon-equalizer:before {
  content: "\e072";
}
.icon-external:before {
  content: "\e151";
}
.icon-eye:before {
  content: "\e073";
}
.icon-eyedropper:before {
  content: "\e074";
}
.icon-facebook-2:before {
  content: "\e075";
}
.icon-facebook:before {
  content: "\e076";
}
.icon-fan:before {
  content: "\e077";
}
.icon-fax:before {
  content: "\e078";
}
.icon-feed-2:before {
  content: "\e079";
}
.icon-feed:before {
  content: "\e07a";
}
.icon-female2:before {
  content: "\e07b";
}
.icon-firefox:before {
  content: "\e07c";
}
.icon-firewire:before {
  content: "\e07d";
}
.icon-first:before {
  content: "\21e4";
}
.icon-flag-2:before {
  content: "\e07e";
}
.icon-flag:before {
  content: "\e07f";
}
.icon-flickr-2:before {
  content: "\e080";
}
.icon-flickr:before {
  content: "\e081";
}
.icon-floppy:before {
  content: "\e082";
}
.icon-folder:before {
  content: "\e083";
}
.icon-folders:before {
  content: "\e084";
}
.icon-font-2:before {
  content: "\e085";
}
.icon-font:before {
  content: "\e086";
}
.icon-fork:before {
  content: "\2443";
}
.icon-forrst-2:before {
  content: "\e087";
}
.icon-forrst:before {
  content: "\e088";
}
.icon-fullscreen-exit:before {
  content: "\e089";
}
.icon-fullscreen:before {
  content: "\e08a";
}
.icon-funnel:before {
  content: "\e08b";
}
.icon-gallery:before {
  content: "\e08c";
}
.icon-game:before {
  content: "\e08d";
}
.icon-git-2:before {
  content: "\e08e";
}
.icon-git-3:before {
  content: "\e08f";
}
.icon-git:before {
  content: "\e090";
}
.icon-github-2:before {
  content: "\e091";
}
.icon-github-cat:before {
  content: "\e092";
}
.icon-github:before {
  content: "\e093";
}
.icon-glasses:before {
  content: "\e094";
}
.icon-globe:before {
  content: "\e095";
}
.icon-gplus-2:before {
  content: "\e096";
}
.icon-gplus-3:before {
  content: "\e097";
}
.icon-gplus:before {
  content: "\e098";
}
.icon-grid-2:before {
  content: "\e099";
}
.icon-grid:before {
  content: "\e09a";
}
.icon-hash:before {
  content: "\23";
}
.icon-hd:before {
  content: "\e09b";
}
.icon-headphones:before {
  content: "\e09c";
}
.icon-heart-stroke:before {
  content: "\e09d";
}
.icon-heart:before {
  content: "\e09e";
}
.icon-heartbeat:before {
  content: "\e09f";
}
.icon-help:before {
  content: "\e0a0";
}
.icon-home-2:before {
  content: "\e0a1";
}
.icon-home:before {
  content: "\2302";
}
.icon-html5-stroke:before {
  content: "\e0a2";
}
.icon-html5:before {
  content: "\e0a3";
}
.icon-ie:before {
  content: "\e0a4";
}
.icon-infinity:before {
  content: "\e0a5";
}
.icon-info-2:before {
  content: "\e0a6";
}
.icon-info:before {
  content: "\2139";
}
.icon-ipad:before {
  content: "\e0a7";
}
.icon-iphone:before {
  content: "\e0a8";
}
.icon-ipod:before {
  content: "\e0a9";
}
.icon-key-stroke:before {
  content: "\e0aa";
}
.icon-key:before {
  content: "\e0ab";
}
.icon-laptop-2:before {
  content: "\e0ac";
}
.icon-laptop:before {
  content: "\e0ad";
}
.icon-last:before {
  content: "\21e5";
}
.icon-lastfm-2:before {
  content: "\e0ae";
}
.icon-lastfm:before {
  content: "\e0af";
}
.icon-layers:before {
  content: "\e0b0";
}
.icon-leave:before {
  content: "\e0b1";
}
.icon-left-quote-2:before {
  content: "\e0b2";
}
.icon-left-quote:before {
  content: "\201c";
}
.icon-like:before {
  content: "\e0b3";
}
.icon-link-2:before {
  content: "\e0b4";
}
.icon-link:before {
  content: "\e0b5";
}
.icon-linkedin:before {
  content: "\e0b6";
}
.icon-list-2:before {
  content: "\e0b7";
}
.icon-list:before {
  content: "\e0b8";
}
.icon-load-0:before {
  content: "\e0b9";
}
.icon-load-1:before {
  content: "\e0ba";
}
.icon-load-2:before {
  content: "\e0bb";
}
.icon-load-3:before {
  content: "\e0bc";
}
.icon-load-4:before {
  content: "\e0bd";
}
.icon-load-5:before {
  content: "\e0be";
}
.icon-load-6:before {
  content: "\e0bf";
}
.icon-load-7:before {
  content: "\e0c0";
}
.icon-lock-2:before {
  content: "\e0c1";
}
.icon-lock-stroke:before {
  content: "\e0c2";
}
.icon-lock:before {
  content: "\e0c3";
}
.icon-loop-double:before {
  content: "\e0c4";
}
.icon-loop-left-2:before {
  content: "\e0c5";
}
.icon-loop-left:before {
  content: "\e0c6";
}
.icon-loop-right-2:before {
  content: "\e0c7";
}
.icon-loop-right:before {
  content: "\e0c8";
}
.icon-loop:before {
  content: "\27f3";
}
.icon-magnifying-glass-2:before {
  content: "\e0c9";
}
.icon-magnifying-glass-3:before {
  content: "\e0ca";
}
.icon-magnifying-glass:before {
  content: "\e0cb";
}
.icon-mail-2:before {
  content: "\e0cc";
}
.icon-mail-3:before {
  content: "\e0cd";
}
.icon-mail-stroke:before {
  content: "\e0ce";
}
.icon-mail:before {
  content: "\2709";
}
.icon-male:before {
  content: "\e0cf";
}
.icon-map-pin-2-stroke:before {
  content: "\e0d0";
}
.icon-map-pin-2:before {
  content: "\e0d1";
}
.icon-map-pin-stroke:before {
  content: "\e0d2";
}
.icon-map-pin:before {
  content: "\e0d3";
}
.icon-megaphone:before {
  content: "\e0d4";
}
.icon-mic-2:before {
  content: "\e0d5";
}
.icon-mic:before {
  content: "\e0d6";
}
.icon-minus-2:before {
  content: "\2296";
}
.icon-minus:before {
  content: "\2212";
}
.icon-monitor:before {
  content: "\e0d7";
}
.icon-moon-stroke:before {
  content: "\263e";
}
.icon-moon:before {
  content: "\e0d8";
}
.icon-mouse:before {
  content: "\e0d9";
}
.icon-move-horizontal:before {
  content: "\2194";
}
.icon-move-vertical:before {
  content: "\2195";
}
.icon-move:before {
  content: "\e0da";
}
.icon-movie:before {
  content: "\e0db";
}
.icon-new-window:before {
  content: "\e0dc";
}
.icon-news:before {
  content: "\e0dd";
}
.icon-opera:before {
  content: "\e0de";
}
.icon-paperclip:before {
  content: "\e0df";
}
.icon-paperplane:before {
  content: "\e0e0";
}
.icon-pause-2:before {
  content: "\e0e1";
}
.icon-pause:before {
  content: "\e0e2";
}
.icon-pen-2-stroke:before {
  content: "\e0e3";
}
.icon-pen-2:before {
  content: "\e0e4";
}
.icon-pen-3:before {
  content: "\e0e5";
}
.icon-pen:before {
  content: "\270f";
}
.icon-phone-2:before {
  content: "\e0e6";
}
.icon-phone-mobile:before {
  content: "\e0e7";
}
.icon-phone:before {
  content: "\e0e8";
}
.icon-picasa-2:before {
  content: "\e0e9";
}
.icon-picasa:before {
  content: "\e0ea";
}
.icon-pilcrow:before {
  content: "\b6";
}
.icon-pin:before {
  content: "\e0eb";
}
.icon-pinterest-2:before {
  content: "\e0ec";
}
.icon-pinterest:before {
  content: "\e0ed";
}
.icon-play-2:before {
  content: "\e0ee";
}
.icon-play:before {
  content: "\25b6";
}
.icon-plus-2:before {
  content: "\e0ef";
}
.icon-plus-3:before {
  content: "\2295";
}
.icon-plus:before {
  content: "\2b";
}
.icon-podcast-2:before {
  content: "\e0f0";
}
.icon-podcast:before {
  content: "\e0f1";
}
.icon-polaroids:before {
  content: "\e0f2";
}
.icon-power:before {
  content: "\e0f3";
}
.icon-printer-2:before {
  content: "\e0f4";
}
.icon-printer:before {
  content: "\e0f5";
}
.icon-puzzle:before {
  content: "\e0f6";
}
.icon-question-mark:before {
  content: "\3f";
}
.icon-question:before {
  content: "\e0f7";
}
.icon-rain:before {
  content: "\e0f8";
}
.icon-read:before {
  content: "\e0f9";
}
.icon-recycle:before {
  content: "\e0fa";
}
.icon-reload:before {
  content: "\21bb";
}
.icon-responsive:before {
  content: "\e0fb";
}
.icon-right-quote-2:before {
  content: "\e0fc";
}
.icon-right-quote:before {
  content: "\201d";
}
.icon-rocket:before {
  content: "\e0fd";
}
.icon-rss-2:before {
  content: "\e0fe";
}
.icon-rss:before {
  content: "\e0ff";
}
.icon-ruler:before {
  content: "\e100";
}
.icon-safari:before {
  content: "\e101";
}
.icon-save:before {
  content: "\e102";
}
.icon-seo:before {
  content: "\e103";
}
.icon-share-2:before {
  content: "\e104";
}
.icon-share:before {
  content: "\e105";
}
.icon-shield-2-stroke:before {
  content: "\e106";
}
.icon-shield-2:before {
  content: "\e107";
}
.icon-shield:before {
  content: "\e108";
}
.icon-shuffle:before {
  content: "\e109";
}
.icon-skype:before {
  content: "\e10a";
}
.icon-smiles:before {
  content: "\e10b";
}
.icon-snowflake:before {
  content: "\e10c";
}
.icon-soundcloud-2:before {
  content: "\e10d";
}
.icon-soundcloud:before {
  content: "\e10e";
}
.icon-speedometer-2-low:before {
  content: "\e10f";
}
.icon-speedometer-2-medium:before {
  content: "\e110";
}
.icon-speedometer-2:before {
  content: "\e111";
}
.icon-speedometer:before {
  content: "\e112";
}
.icon-spin:before {
  content: "\e113";
}
.icon-star-2-half:before {
  content: "\e114";
}
.icon-star-2-stroke:before {
  content: "\e115";
}
.icon-star-2:before {
  content: "\e116";
}
.icon-star-half:before {
  content: "\e117";
}
.icon-star-stroke:before {
  content: "\e118";
}
.icon-star:before {
  content: "\2605";
}
.icon-stop-2:before {
  content: "\e119";
}
.icon-stop:before {
  content: "\25a0";
}
.icon-stumbleupon-2:before {
  content: "\e11a";
}
.icon-stumbleupon:before {
  content: "\e11b";
}
.icon-sun-stroke:before {
  content: "\263c";
}
.icon-sun:before {
  content: "\2600";
}
.icon-support:before {
  content: "\e11c";
}
.icon-tag-left:before {
  content: "\e11d";
}
.icon-tag-right:before {
  content: "\e11e";
}
.icon-tag-stroke:before {
  content: "\e11f";
}
.icon-tag:before {
  content: "\e120";
}
.icon-target-2:before {
  content: "\e121";
}
.icon-target:before {
  content: "\e122";
}
.icon-temperature-2:before {
  content: "\e123";
}
.icon-temperature:before {
  content: "\e124";
}
.icon-thumb-down:before {
  content: "\e125";
}
.icon-thumb-up:before {
  content: "\e126";
}
.icon-tie:before {
  content: "\e127";
}
.icon-tools-2:before {
  content: "\e128";
}
.icon-tools:before {
  content: "\e129";
}
.icon-transfer:before {
  content: "\21c4";
}
.icon-trash-2:before {
  content: "\e12a";
}
.icon-trash-3-stroke:before {
  content: "\e12b";
}
.icon-trash-3:before {
  content: "\e12c";
}
.icon-trash:before {
  content: "\e12d";
}
.icon-truck:before {
  content: "\e12e";
}
.icon-tumblr-2:before {
  content: "\e12f";
}
.icon-tumblr:before {
  content: "\e130";
}
.icon-twitter-bird-2:before {
  content: "\e131";
}
.icon-twitter-bird:before {
  content: "\e132";
}
.icon-umbrella:before {
  content: "\2602";
}
.icon-undo:before {
  content: "\238c";
}
.icon-unlock-stroke:before {
  content: "\e133";
}
.icon-unlock:before {
  content: "\e134";
}
.icon-upload:before {
  content: "\2912";
}
.icon-upload2:before {
  content: "\e135";
}
.icon-usb:before {
  content: "\e136";
}
.icon-user-2:before {
  content: "\e137";
}
.icon-user2:before {
  content: "\e138";
}
.icon-users:before {
  content: "\e139";
}
.icon-vcard:before {
  content: "\e13a";
}
.icon-vector-2:before {
  content: "\e13b";
}
.icon-vector:before {
  content: "\e13c";
}
.icon-video:before {
  content: "\e13d";
}
.icon-vimeo-2:before {
  content: "\e13e";
}
.icon-vimeo:before {
  content: "\e13f";
}
.icon-volume-mute:before {
  content: "\e140";
}
.icon-volume:before {
  content: "\e141";
}
.icon-wand:before {
  content: "\e142";
}
.icon-warning-2:before {
  content: "\e143";
}
.icon-warning:before {
  content: "\e144";
}
.icon-windows:before {
  content: "\e145";
}
.icon-wireless:before {
  content: "\e146";
}
.icon-wordpress-2:before {
  content: "\e147";
}
.icon-wordpress:before {
  content: "\e148";
}
.icon-wrench:before {
  content: "\e149";
}
.icon-x-2-stroke:before {
  content: "\e14a";
}
.icon-x-2:before {
  content: "\2297";
}
.icon-x:before {
  content: "\d7";
}
.icon-xing:before {
  content: "\e14b";
}
.icon-yahoo-2:before {
  content: "\e14c";
}
.icon-yahoo:before {
  content: "\e14d";
}
.icon-youtube-2:before {
  content: "\e14e";
}
.icon-youtube:before {
  content: "\e14f";
}

