$ecc-rot: rgb(167, 3, 48);
$ecc-rot-dunkler: rgb(162, 3, 47);
$schwarz: rgb(0, 0, 0);
$web-schwarz: rgb(30, 30, 30);
$ecc-grau3: #efedef;
$ecc-grau1: rgb(187, 189, 190);
$ecc-grau2: rgb(134, 136, 137);
$white: #FFFFFF;

// Main 7:
$ecc-rosa: rgb(226, 166, 167);
$ecc-rosa2: #edcdd6;
$ecc-violett: rgb(55, 33, 94);
$ecc-flieder: rgb(187, 163, 203);
$ecc-blau: rgb(0, 55, 98);
$ecc-main7-blau:rgba(0, 45, 76, 1.0);
$ecc-hellblau: rgb(161, 195, 212);
$ecc-grau: $ecc-grau1;

body {
  font-family: "Open Sans", sans-serif;
  color: $web-schwarz;
}

h1, h2 {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 1rem;
}

h3 {
  color: $ecc-rot;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1rem;
}

.mi-logo {
  max-width: 254px;
  img {
    image-rendering: -webkit-optimize-contrast;
  }
  @include bp(mobile) {
    margin: 0 auto;
  }
}

.invisible {
  @include mi_hide_from_dom;
}

#header {
  .navbar {
    .navbar-item, .navbar-link {
      padding: 0 1rem;
    }
    .active {
      color: $ecc-rot;
    }
    @media screen and (min-width: 1008px) {
      .navbar-item, .navbar-link {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
}

#header {
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
  //z-index: 1000;
  //height: 200px;
  //overflow: hidden;
  //-webkit-transition: height 0.3s;
  //-moz-transition: height 0.3s;
  //transition: height 0.3s;
  // text-align:center;
  // line-height:160px;
}

#header.shrink {
  //height: 100px;
}


#main {
  ul {
    margin-left: 0;
    padding-left: 1em;
    // text-indent: -1em;
    list-style-type: disc;
    li {

    }
  }
}

.ce_image {
  overflow: hidden;
}

.bg-red {
  background-color: $ecc-rot;
}

.no-line-height {
  line-height: 0 !important;
}

.mi-hero {
  height: 300px;
  margin-bottom: 27px;
  // background: url('/files/frame/page-crew.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.img-placeholder {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background: lightgray;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:after {
    content: attr(alt);
    white-space: pre;
    color: gray;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: calc(50% - .5em);
    font-size: 100%;
  }
}