.mi-crewmember {
  position: relative;
  @include bp(mobile) {
    padding-bottom:10px;
    img {
      margin:0 auto;
    }
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .2s ease;
    @include bp(mobile) {
      position:relative;
      bottom:auto;
      left:auto;
      right:auto;
      height:25px;
      margin:0 auto;
    }
    @include bp(tablet) {
      // background-color:#CCC;
    }
  }
  &:hover .overlay {
    height:25px;
  }
  .name {
    white-space: nowrap;
    color: $web-schwarz;
    font-size: 14px;
    font-weight:600;
    position: absolute;
    overflow: hidden;
    margin:0 5px 10px 5px;
    // border:1px solid red;
    @include bp(mobile) {
      width:100%;
      text-align:center;
    }
  }
}

//.image {
//  display: block;
//  width: 100%;
//  height: auto;
//}



