@import "bootstrap";
@import "mi_fonts";
@import "mi_mixins";

$ecc-rot: rgb(167, 3, 48);
$ecc-rot-dunkler: rgb(162, 3, 47);
$schwarz: rgb(0, 0, 0);
$web-schwarz: rgb(30, 30, 30);
$ecc-grau3: #efedef;
$ecc-grau1: rgb(187, 189, 190);
$ecc-grau2: rgb(134, 136, 137);
$white: #FFFFFF;

// Main 7:
$ecc-rosa: rgb(226, 166, 167);
$ecc-rosa2: #edcdd6;
$ecc-violett: rgb(55, 33, 94);
$ecc-flieder: rgb(187, 163, 203);
$ecc-blau: rgb(0, 55, 98);
$ecc-main7-blau:rgba(0, 45, 76, 1.0);
$ecc-hellblau: rgb(161, 195, 212);
$ecc-grau: $ecc-grau1;

.normal {
  font-weight:400;
  font-style:normal;
}

.semi-bold {
  font-weight:600;
  font-style:normal;
}

.bold {
  font-weight:700;
  font-style:normal;
}

body {
  font-family: "Open Sans", sans-serif;
  @extend .normal;
  color: $web-schwarz;
}

h1, h2 {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 1rem;
}

h3 {
  color: $ecc-rot;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1rem;
}

.mi-logo {
  max-width: 254px;
  img {
    image-rendering: -webkit-optimize-contrast;
  }
  @include bp(mobile) {
    margin: 0 auto;
  }
}

.invisible {
  @include mi_hide_from_dom;
}

#header {
  .navbar {
    .navbar-item, .navbar-link {
      padding: 0 1rem;
    }
    .active {
      color: $ecc-rot;
    }
    @media screen and (min-width: 1008px) {
      .navbar-item, .navbar-link {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
}

#header {
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
  //z-index: 1000;
  //height: 200px;
  //overflow: hidden;
  //-webkit-transition: height 0.3s;
  //-moz-transition: height 0.3s;
  //transition: height 0.3s;
  // text-align:center;
  // line-height:160px;
}

#header.shrink {
  //height: 100px;
}


#main {
  ul {
    margin-left: 0;
    padding-left: 1em;
    // text-indent: -1em;
    list-style-type: disc;
    li {

    }
  }
}

.ce_image {
  overflow: hidden;
}

.bg-red {
  background-color: $ecc-rot;
}

.no-line-height {
  line-height: 0 !important;
}

.mi-hero {
  height: 300px;
  margin-bottom: 27px;
  // background: url('/files/frame/page-crew.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.img-placeholder {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background: lightgray;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:after {
    content: attr(alt);
    white-space: pre;
    color: gray;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: calc(50% - .5em);
    font-size: 100%;
  }
}




.crew {
  .crewmember {
    @extend .column;
    @extend .is-2;
    @extend .is-narrow;
    // max-width: 200px;
    .image {
      display: block;
      // max-width: 200px;
    }
    // margin-bottom: 20px !important;
    .inner {
      border-right: 20px solid #FFF;
      border-bottom: 20px solid #FFF;
    }
  }

  .crew-name {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    letter-spacing: 0;
    background-color: rgba(255, 255, 255, 0.6);
    p {
      padding-left: 5px;
    }
    p, span {
      font-size:0.9rem;
    }
  }

  .redsquare, .whitesquare {
    @extend .column;
    @extend .is-2;
    @extend .is-narrow;
    .inner {
      height:100%;
      width:100%;
      background-color: $ecc-rot;
      border-right: 20px solid #FFF;
      border-bottom: 20px solid #FFF;
    }

  }
  .whitesquare {
    background-color: #FFFFFF;
  }

  .mi-media {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 0;
    margin: 0;
    padding: 0;
  }

  .mi-media__body {
    background: rgba(71, 71, 71, 0.8);
    bottom: 0;
    color: white;
    font-size: 1em;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3.75em 3em;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    &:hover {
      opacity: 1;
    }
    &:after, &:before {
      // border: 1px solid rgba(255, 255, 255, 0.5);
      bottom: 1em;
      content: '';
      left: 1em;
      opacity: 0;
      position: absolute;
      right: 1em;
      top: 1em;
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-transition: 0.6s 0.2s;
      transition: 0.6s 0.2s;
    }
    &:before {
      border-bottom: none;
      border-top: none;
      left: 2em;
      right: 2em;
    }
    &:after {
      border-left: none;
      border-right: none;
      bottom: 2em;
      top: 2em;
    }
    &:hover:after,
    &:hover:before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    .mailicon {
      margin-top: 30px;
      font-size: 100px;
      color: rgba(255, 255, 255, 0.9);
      line-height: 0;
    }
    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 1.5em;
    }
  }

}

// crew

.news {
  p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .workshop {
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom: 0.9rem;
  }
  .bg-news {
    background-color: $grey-light;
  }
  //.tile.is-vertical > .tile.is-child:not(:last-child) {
  //  margin-bottom:0 !important;
  //}
}

.mi-shine img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
  &:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.referenzen {
  .columns {
    align-items: center;
    // justify-content: center;
  }
  .column {
    // @extend .is-3;
    text-align: center;
    //border:1px solid red;
    //align-items: center;
  }
}

.kompetenz {
  margin-top: 10px;
  background: url('/files/frame/lebendigkeit_kompetenz_wachstum.jpg') no-repeat center;
  background-size: cover;
  h1 {
    span {
      margin-left: -10px;
    }
    font-family: "open-sans", sans-serif;
    font-size: 150px;
    font-weight: 700;
    color: $white;
  }
}

.hero-crew {
  background-image: url('/files/frame/heroes/page-team.jpg');
  background-size: cover;
}

.hero-referenzen {
  height: 50px;
  margin-bottom: 27px;
}






