// mmai: Overwrite variables from twitter bootstrap before importing bootstrap!!
// @import "compass/reset";
@import "_variables.scss";
@import "bootstrap";
@import "mi_fonts";
@import "mi_mixins";
@import "compass/typography/lists/horizontal-list";
@import "_font-awesome.scss";

$ecc-rot: rgb(167, 3, 48);
$ecc-rot-dunkler: rgb(162, 3, 47);
$schwarz: rgb(0, 0, 0);
$web-schwarz: rgb(30, 30, 30);
$ecc-grau3: #efedef;
$ecc-grau1: rgb(187, 189, 190);
$ecc-grau2: rgb(134, 136, 137);
$ecc-grau-news:#A9AAA9;
$white: #FFFFFF;

// Main 7:
$ecc-rosa: rgb(226, 166, 167);
$ecc-rosa2: #edcdd6;
$ecc-violett: rgb(55, 33, 94);
$ecc-flieder: rgb(187, 163, 203);
$ecc-blau: rgb(0, 55, 98);
$ecc-main7-blau:rgba(0, 45, 76, 1.0);
$ecc-hellblau: rgb(161, 195, 212);
$ecc-grau: $ecc-grau1;

// @extend these classes into more elaborate classes:
.normal {
  font-weight:400;
  font-style:normal;
}

.semi-bold {
  font-weight:600;
  font-style:normal;
}

.bold {
  font-weight:700;
  font-style:normal;
}

// @todo: OLD styles. used any more?
.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1rem;
}

.invisible {
  @include mi_hide_from_dom;
}

.rot {
  color:$ecc-rot;
}
.rosa {
  color:$ecc-rosa;
}
.lila {
  color:$ecc-violett;
}
.flieder {
  color:$ecc-flieder;
}
.blau {
  color:$ecc-main7-blau;
}
.hellblau {
  color:$ecc-hellblau;
}
.grau {
  color:$ecc-grau2;
}

.bg-rosa {
  background-color:$ecc-rosa;
}

// wrap around column divs to align them vertically:
.row-vertical-align {
  display: flex;
  flex-direction: row;
  & > [class^="col-"],
  & > [class*=" col-"] {
    display: flex;
    align-items: center;
    // justify-content: center; /* Optional, to align inner items horizontally inside the column */
  }
}

.mi-align-height {
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

.mi-align-content-bottom {
  display: flex;
  flex-direction:row !important;
  & > div {
    align-self: flex-end;
  }
}


.mi-more-space-between-rows {
  .row {
    margin-bottom:40px;
  }
}


.bg-red, .mi-bg-red {
  background-color: $ecc-rot-dunkler;
  color:$white;
}

.mi-bg-grey {
  background-color: $ecc-grau-news;
}

.no-line-height {
  line-height: 0 !important;
}


.mi-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

// =======
// TYPO:
// =======

.mi-lh-13 {
  h1, h2, h3 {
    line-height:1.3em;
  }
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top:5px;
  margin-bottom:17px;
}

h4 {
  font-size:14px;
  @extend .bold;
  margin-top:0px;
  margin-bottom:2px;
  line-height:1.1em;
}

p {
  margin-bottom:17px;
}



// =======
// LAYOUT:
// =======

// make all images responsive by default:
img {
  @extend .img-responsive;
}

.mi-link-neutral {
  a {
    color: $web-schwarz;
    &:hover {
      cursor: pointer;
    }
  }
}

.mi-nogutter {
  // @todo needs refactoring:
  .row {
    margin-right:-30px;
  }
}

.mi-no-padding-right {
  padding-right:0 !important;
}

.mi-no-padding-leftright {
  padding-right:0 !important;
  padding-left:0 !important;
}



body {
  font-family: "Open Sans", sans-serif;
  @extend .semi-bold;
  color: $web-schwarz;
}

$header-height:170px;
$header-height-shrink:80px;
$header-oben:20px;
$header-unten:0px;

#header {
  //@include devborder(green);
  height:$header-height;
  width: 100%;
  background-color: #FFF;
  padding-top:$header-oben;
  margin-bottom: $header-unten;
  .inside {
    position:relative;
  }

  // border-bottom: 1px solid #e1e1e1;
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed;

  &.shrink {
    background-color:#FFF;
    height:$header-height-shrink;
    .mi-nav-top {
      margin-top:5px;
    }
  }
}

#wrapper {
  margin-top:$header-height;
}



#logo {
  max-width:270px;
  img {
    @extend .img-responsive;
    image-rendering: -webkit-optimize-contrast;
  }
}


.mi-nav-top {
  margin-top:95px;
  @extend .bold;
  @extend .text-right;
  a {
    color:$web-schwarz;
    &:hover {
      color:$ecc-rot;
    }
    padding-left:20px;
  }
  span {
    padding-left:20px;
  }
  .active {
    color:$ecc-rot;
  }
  ul {
    float:right;
    @include horizontal-list-container;
    & > li {
      @include horizontal-list-item;
    }
  }
}

#main {
  //ul {
  //  margin-left: 0;
  //  padding-left: 1em;
  //  // text-indent: -1em;
  //  list-style-type: disc;
  //  li {
  //
  //  }
  //}
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
  }
  ul > li:before {
    display: inline-block;
    //content: "\2014\a0";
    content: "-";
    font-weight:300;
    width: 1em;
    margin-left: -1em;
  }
  .main7list {
    font-size:16px;
    @extend .bold;
    ul {
      list-style:none;
      margin-left: 0;
      padding-left:0;
      .fa {
        padding:0 3px;
      }
      & > li {
        margin-bottom:15px;
        &:before {
          display: none;
          content: "";
          font-weight:300;
          width: 1em;
          margin-left: 0;
        }
      }
    }
  }
}

.ce_text {
  overflow:hidden;
}

.mi-larger-text {
  font-size:16px;
}

.mi-large-text {
  @extend .normal;
  font-size:30px;
}

.mi-contentbox {
  padding-top:10px;
}
// @todo: variable!
.mi-contentbox-leftright {
  padding-left:15px;
  padding-right:15px;
}

.mi-margin-top {
  margin-top:30px;
}

@mixin textforhero($font-size:110px, $line-height:1.3em, $font-color:$white, $margin:100px) {
  margin-top:$margin;
  margin-bottom:$margin;
  span {
    margin-left: -10px;
  }
  line-height: $line-height;
  font-size:$font-size;
  font-weight: 700;
  color: $font-color;
}

.kompetenz {
  background: url('/files/frame/lebendigkeit_kompetenz_wachstum.jpg') no-repeat center;
  background-size: cover;
  h1 {
    @include textforhero();
  }
}

.arbeitenmitsinn {
  background: url('/files/frame/Riesenrad_CF.jpg') no-repeat;
  background-size: cover;
  background-position:-100px 0;
  h1 {
    @include textforhero();
  }
}

.fuehrenneuezeit {
  background: url('/files/content/corporate_flow/M7_Akademie_Himmel.jpg') no-repeat center;
  background-size: cover;
  // background-position:-100px 0;
  h3 {
    @include textforhero(90px, 1.2em, $white, 80px);
  }
}

.sinnhaftzuleben {
  position:relative;
  background: url('/files/content/wozu/pusteblume_a_sto.jpg') no-repeat center;
  background-size: cover;
  // background-position:-100px 0

  h3 {
    @include textforhero(24px, 1.2em, $white, 280px);
  }
}

.wirtschaftlichhandeln {
  position:relative;
  background: url('/files/content/wozu/wirtschaftlich-handeln.jpg') no-repeat center;
  background-size: cover;
  // background-position:-100px 0
  h3 {
    @include textforhero(24px, 1.2em, $white, 0px);
    margin-top:220px;
  }
}

.bereitfuerfreude {
  position:relative;
  background: url('/files/content/wozu/gluecklich.jpg') no-repeat center;
  background-size: cover;
  // background-position:-100px 0

  h3 {
    @include textforhero(24px, 1.2em, $white, 0px);
  }
}

.beruehrendes {
  position:relative;
  background: url('/files/content/wozu/Herzlicht_Tina90.jpg') no-repeat center;
  background-size: cover;
  // background-position:-100px 0

  h3 {
    @include textforhero(24px, 1.2em, $white, 30px);
    margin-top:270px;
  }
}

.herzstift {
  position:relative;
  background: url('/files/content/wozu/Herz_Stift.jpg') no-repeat center;
  background-size: cover;
  // background-position:-100px 0
  h3 {
    @include textforhero(24px, 1.2em, $white, 30px);
    margin-top:270px;
  }
}

.mi-hero {
  height: 300px;
  margin-bottom: 27px;
  // background: url('/files/frame/page-crew.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mi-height-4 {
  height:350px;
}




.crew {
  .crewmember {
    // max-width: 200px;
    .image {
      display: block;
      // max-width: 200px;
    }
    // margin-bottom: 20px !important;
    .inner {
      border-right: 20px solid #FFF;
      border-bottom: 20px solid #FFF;
    }
  }

  .crew-name {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    letter-spacing: 0;
    background-color: rgba(255, 255, 255, 0.6);
    p {
      padding-left: 5px;
    }
    p, span {
      font-size:0.9rem;
    }
  }

  .redsquare, .whitesquare {
    .inner {
      height:100%;
      width:100%;
      background-color: $ecc-rot;
      border-right: 20px solid #FFF;
      border-bottom: 20px solid #FFF;
    }

  }
  .whitesquare {
    background-color: #FFFFFF;
  }

  .mi-media {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 0;
    margin: 0;
    padding: 0;
  }

  .mi-media__body {
    background: rgba(71, 71, 71, 0.8);
    bottom: 0;
    color: white;
    font-size: 1em;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3.75em 3em;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    &:hover {
      opacity: 1;
    }
    &:after, &:before {
      // border: 1px solid rgba(255, 255, 255, 0.5);
      bottom: 1em;
      content: '';
      left: 1em;
      opacity: 0;
      position: absolute;
      right: 1em;
      top: 1em;
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-transition: 0.6s 0.2s;
      transition: 0.6s 0.2s;
    }
    &:before {
      border-bottom: none;
      border-top: none;
      left: 2em;
      right: 2em;
    }
    &:after {
      border-left: none;
      border-right: none;
      bottom: 2em;
      top: 2em;
    }
    &:hover:after,
    &:hover:before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    .mailicon {
      margin-top: 30px;
      font-size: 100px;
      color: rgba(255, 255, 255, 0.9);
      line-height: 0;
    }
    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 1.5em;
    }
  }

}

// crew



.mi-shine img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
  &:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

//.herzkrone {
//  background: url('/files/content/home/Herzkrone_marshi.jpg') no-repeat right;
//  background-size: cover;
//  min-height:350px;
//}

.mi-main7-news {
  padding:15px 30px;
}

.mi-neue-ufer {
  margin-top:150px;
}








