// mmai: Overwrite variables from twitter bootstrap before importing bootstrap!!
// @import "compass/reset";
$grid-gutter-width: 0px !default;
$mi-gutter-width: 30px;
$mi-gutter-height: 20px;
$mi-height: 190px; // Eine Hoeheneinheit bezogen auf die Containerbreite (entspricht col-md-2)

@import "_variables.scss";
@import "bootstrap";
@import "mi_fonts";
@import "mi_mixins";
@import "compass/typography/lists/horizontal-list";
@import "_font-awesome.scss";
@import "crew.scss";

$ecc-rot: rgb(167, 3, 48);
$ecc-rot-dunkler: rgb(162, 3, 47);
$schwarz: rgb(0, 0, 0);
$web-schwarz: rgb(30, 30, 30);
$ecc-grau3: #efedef;
$ecc-grau1: rgb(187, 189, 190);
$ecc-grau2: rgb(134, 136, 137);
$ecc-grau-news: #A9AAA9;
$white: #FFFFFF;

// Main 7:
$ecc-rosa: rgb(226, 166, 167);
$ecc-rosa2: #edcdd6;
$ecc-violett: rgb(55, 33, 94);
$ecc-flieder: rgb(187, 163, 203);
$ecc-blau: rgb(0, 55, 98);
$ecc-main7-blau: rgba(0, 45, 76, 1.0);
$ecc-hellblau: rgb(161, 195, 212);
$ecc-grau: $ecc-grau1;

// @extend these classes into more elaborate classes:
.normal {
  font-weight: 400;
  font-style: normal;
}

.semi-bold {
  font-weight: 600;
  font-style: normal;
}

.bold {
  font-weight: 700;
  font-style: normal;
}

// @todo: OLD styles. used any more?
.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1rem;
}

.invisible {
  @include mi_hide_from_dom;
}

.rot {
  color: $ecc-rot;
}

.rosa {
  color: $ecc-rosa;
}

.lila {
  color: $ecc-violett;
}

.flieder {
  color: $ecc-flieder;
}

.blau {
  color: $ecc-main7-blau;
}

.hellblau {
  color: $ecc-hellblau;
}

.grau {
  color: $ecc-grau2;
}

.bg-rosa {
  background-color: $ecc-rosa;
}

// wrap around column divs to align them vertically:
.row-vertical-align {
  display: flex;
  flex-direction: row;
  & > [class^="col-"],
  & > [class*=" col-"] {
    display: flex;
    align-items: center;
    // justify-content: center; /* Optional, to align inner items horizontally inside the column */
  }
}

.mi-shine {
  .row {
    margin-bottom: $mi-gutter-height * 2;
  }
  .mi-box {
    padding: 0;
    img {
      max-width: 100px;
    }
  }

  [class*=" col-"] {
    @extend .mi-padding-leftright;
  }

  .inside {
    min-height: $mi-height;
    position: relative;
  }

  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    // filter: gray;
    transition: all 0.5s ease;
    &:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    // vertical and horizontal centering:
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.vertical-align-parent {
  .vertical-align-child {
    @include vertical-align();
  }
}

//.mi-align-height {
//  .row {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
//    flex-wrap: wrap;
//  }
//  .row > [class*='col-'] {
//    display: flex;
//    flex-direction: column;
//  }
//  .row > [class*='col-'] .inside {
//    display: flex;
//    flex-direction: column;
//  }
//}

.mi-align-content-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row !important;
  & > div {
    align-self: flex-end;
  }
}

.mi-more-space-between-rows {
  .row {
    margin-bottom: $mi-gutter-height * 2;
  }
}

.bg-red, .mi-bg-red {
  background-color: $ecc-rot-dunkler;
  color: $white;
  a, a:hover {
    color: $white;
  }
}

.mi-textcolor-red {
  color: $ecc-rot-dunkler;
}

.mi-textcolor-white {
  color: $white;
}

.mi-bg-grey {
  background-color: $ecc-grau-news;
}

.no-line-height {
  line-height: 0 !important;
}

.mi-vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

// =======
// TYPO:
// =======

.mi-lh-13 {
  h1, h2, h3 {
    line-height: 1.3em;
  }
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

h1, .h1, h3, .h3 {
  font-size: 28px;
  line-height: 1.4em;
}

h4 {
  font-size: 14px;
  @extend .bold;
  margin-top: 0px;
  margin-bottom: 2px;
  line-height: 1.1em;
}

.mi-aktuelles {
  h4 {
    font-size:14px;
    line-height: 1.4281em;
  }
}

.mi-larger-text, .mi-textsize-2 {
  font-size: 16px;
}

.mi-large-text, .mi-textsize-3 {
  font-size: 28px;
  line-height: 1.3em;
  @extend .semi-bold;
}

.mi-textsize-4 {
  font-size: 90px;
  line-height: 1.2em;
  h1, h2, h3, h4, p {
    line-height: 1.2em;
    font-size: 90px;
  }
}

.mi-toggler {
  cursor: pointer;
}

.mi-twistie {
  position: relative;
  &:hover {
    text-decoration: none;
  }
  &:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none !important;
    color: $ecc-rot-dunkler;
    font-size: 60px;
    line-height: 1em;
    float: left;
    margin-top: -20px;
  }
}

.mi-twistie-up {
  @extend .mi-twistie;
  &:after {
    content: "\f0d8";
    //font-family: FontAwesome;
    //font-style: normal;
    //font-weight: normal;
    //text-decoration: none !important;
    //color: $ecc-rot-dunkler;
    //font-size: 35px;
    //float:left;
  }
}

.mi-twistie-right {
  @extend .mi-twistie;
  &:after {
    content: "\f0da";
    //font-family: FontAwesome;
    //font-style: normal;
    //font-weight: normal;
    //text-decoration: none !important;
    //color: $ecc-rot-dunkler;
    //font-size: 35px;
    //float:left;
  }
}

/*

 */

// =======
// LAYOUT:
// =======

// make all images responsive by default:
img {
  @extend .img-responsive;
}

.mi-link-neutral {
  a {
    color: $web-schwarz;
    &:hover {
      cursor: pointer;
    }
  }
}

.mi-padding-leftright {
  padding-left: $mi-gutter-width/2;
  padding-right: $mi-gutter-width/2;
}

.mi-padding-top {
  padding-top: $mi-gutter-height/2;
}

.mi-nopadding-left {
  @include bp(desktop) {
    padding-left: 0 !important;
    & > .ce_text {
      padding-left: 0 !important;
    }
  }
}

.mi-box {
  padding: $mi-gutter-height/2 $mi-gutter-width/2;
}

.ce_text {
  overflow: hidden;
}

[class^="col-"] > .ce_text, .ce_text[class*="col-"], [class^="col-"] > .ce_image_bg, .ce_image_bg[class*="col-"] {
  padding: $mi-gutter-height/2 $mi-gutter-width/2;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Find all ce_text boxes that are on the left side:

body {
  font-family: "Open Sans", sans-serif;
  @extend .semi-bold;
  color: $web-schwarz;
}

$header-height: 170px;
$header-height-shrink: 80px;
$header-oben: 20px;
$header-unten: 0px;

#header {
  //@include devborder(green);
  height: $header-height;
  @include bp(mobile) {
    padding:5px;
    height:auto;
  }
  width: 100%;
  background-color: #FFF;
  padding-top: $header-oben;
  margin-bottom: $header-unten;
  & > .inside {
    position: relative;
    margin-top: 10px;
  }

  // border-bottom: 1px solid #e1e1e1;
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed;

  &.shrink {
    background-color: #FFF;
    height: $header-height-shrink;
    @include bp(mobile) {
      height:auto;
    }
    .mi-nav-top {
      margin-top: 5px;
    }
  }
}

#wrapper {
  margin-top: $header-height;
}

#logo {
  max-width: 270px;
  img {
    @extend .img-responsive;
    image-rendering: -webkit-optimize-contrast;
  }
  @include bp(mobile) {
    max-width:320px;
    margin:0 auto;
    text-align:center;
  }
}

.shrink #logo {
  max-width: 310px;
}

.mi-nav-top {
  margin-right: 5px;
  margin-top: 95px;
  @include bp(mobile) {
    margin-top:40px;
  }
  @extend .bold;
  @extend .text-right;
  a {
    color: $web-schwarz;
    &:active, &:visited, &:focus {
      text-decoration:none;
    }
    &:hover {
      color: $ecc-rot;
      text-decoration: none;
    }
    padding-left: 20px;
    @include bp(mobile) {
      padding-left:10px;
    }
  }
  span {
    padding-left: 20px;
    @include bp(mobile) {
      padding-left:10px;
    }
  }
  a.kunden, span.kunden {
    padding-left: 60px;
    @include bp(mobile) {
      padding-left:20px;
    }
  }
  a, span {
    font-size: 16px;
    @extend .bold;
  }
  .active {
    color: $ecc-rot;
  }
  ul {
    float: right;
    @include bp(mobile) {
      float:none;
    }
    @include horizontal-list-container;
    & > li {
      @include horizontal-list-item;
    }
  }
}

.mi-nav-footer {
  @extend .bold;
  @extend .text-right;
  a {
    color: $web-schwarz;
    &:hover {
      color: $ecc-rot;
      text-decoration: none;
    }
    padding-left: 20px;
  }
  span {
    padding-left: 20px;
  }
  a, span {
    font-size: 16px;
    @extend .bold;
  }
  .active {
    color: $ecc-rot;
  }
  ul {
    float: right;
    @include horizontal-list-container;
    & > li {
      @include horizontal-list-item;
    }
  }
}

#footer {
  .container {
    padding: 5px 0px 15px 0px;
    background-color: $ecc-grau;
    &.inside {
      padding-right: 10px;
    }
  }
}

#main {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
  }
  ul > li:before {
    display: inline-block;
    //content: "\2014\a0";
    content: "-";
    font-weight: 300;
    width: 1em;
    margin-left: -1em;
  }
  .main7list {
    font-size: 14px;
    @extend .bold;
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      .fa {
        padding: 0 3px;
      }
      & > li {
        margin-bottom: 10px;
        &:before {
          display: none;
          content: "";
          font-weight: 300;
          width: 1em;
          margin-left: 0;
        }
      }
    }
  }
}

.mi-margin-top {
  margin-top: 30px;
}

@mixin textforhero($font-size:110px, $line-height:1.3em, $font-color:$white, $margin:100px) {
  margin-top: $margin;
  margin-bottom: $margin;
  span {
    margin-left: -10px;
  }
  line-height: $line-height;
  font-size: $font-size;
  font-weight: 700;
  color: $font-color;
}

.kompetenz {
  background: url('/files/content/home/sinn_freude_wirtschaftlichkeit.jpg') no-repeat center;
  background-size: cover;
  h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    span {
      margin-left: -10px;
    }
    line-height: 1.3em;
    font-size: 110px;
    font-weight: 700;
    color: $white;
    @include bp(mobile) {
      margin-top:80px;
      margin-bottom:50px;
      font-size:33px;
    }
  }
}

.arbeitenmitsinn {
  background: url('/files/frame/Riesenrad_CF.jpg') no-repeat;
  background-size: cover;
  background-position: -100px 0;
  h1 {
    @include textforhero();
  }
}

.fuehrenneuezeit {
  background: url('/files/content/corporate_flow/M7_Akademie_Himmel.jpg') no-repeat center;
  background-size: cover;
  // background-position:-100px 0;
  h3 {
    @include textforhero(90px, 1.4em, $white, 80px);
  }
}

.mi-bgimage-in-text {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mi-bgimage-bottom {
  background-position: bottom !important;
}

.mi-bgimage-top {
  background-position: top !important;
}

.beruehrendes {
  position: relative;
  background: url('/files/content/wozu/Herzlicht_Tina90.jpg') no-repeat center;
  background-size: cover;
  // background-position:-100px 0

  h3 {
    @include textforhero(28px, 1.4em, $white, 30px);
    margin-top: 270px;
  }
}

.herzstift {
  position: relative;
  background: url('/files/content/wozu/Herz_Stift.jpg') no-repeat center;
  background-size: cover;
  // background-position:-100px 0
  h3 {
    @include textforhero(24px, 1.4em, $white, 30px);
    margin-top: 270px;
  }
}

.mi-height-1 {
  height: $mi-height;
}

.mi-height-2 {
  height: $mi-height * 2;
}

.mi-height-3 {
  height: $mi-height * 3;
}

.mi-height-4 {
  height: $mi-height * 4;
}

//.herzkrone {
//  background: url('/files/content/home/Herzkrone_marshi.jpg') no-repeat right;
//  background-size: cover;
//  min-height:350px;
//}

.mi-main7-news {
  padding: 15px 30px;
}

.mi-neue-ufer {
  // margin-top:150px;
}








