@import "mi_fonts";
@import "mi_mixins";
// @import "bulma/bulma.sass";
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";

// Style für ECC und MAIN7 Seite:
@import "_common.scss";
//@import "typeplate-sk/_typeplate-index.scss";


body {

  // background-color:#EEE;

}

.mi-logo {
  max-width: 300px;
  img {
    image-rendering: -webkit-optimize-contrast;
  }
  @include bp(mobile) {
    margin: 0 auto;
  }
}

.mi-vertical-center {
  align-items: center;
}


.rot {
  color:$ecc-rot;
}
.rosa {
  color:$ecc-rosa;
}
.lila {
  color:$ecc-violett;
}
.flieder {
  color:$ecc-flieder;
}
.blau {
  color:$ecc-main7-blau;
}
.hellblau {
  color:$ecc-hellblau;
}
.grau {
  color:$ecc-grau2;
}

.bg-rosa {
  background-color:$ecc-rosa;
}

.main7-matrix {

  .zeile_1 {
    min-height:200px;
  }
  .tile.is-vertical > .tile.is-child:not(:last-child) {
    margin-bottom:0 !important;
  }
  h1,h2,h3,h4, p {
    color:#FFF;
  }
  span, i {
    line-height:1.9rem;
  }
  span {
    padding-left:10px;
    padding-right:10px;
  }
  p, li {
    font-size:1.25rem;
  }
  .black-text {
    h1,h2,h3,h4,p,li {
      color:$black-bis;
    }
  }
  .bg-blau {
   background-color:$ecc-main7-blau;
  }
  .text-slogan {
    font-size:2.5rem;
  }
  .midummy {
    background-color:$grey-light;
  }
  .content {
    padding:20px;
  }
  ul {
    list-style:none !important;
    padding:0 !important;
  }
  .wolke {
    background-image:url('/files/frame/main7/wolken_strahlen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -70px;
  }
  .sternenhimmel {
    background-image:url('/files/frame/main7/sternenhimmel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
  }
  img {
    max-width:260px;
  }
}

.mi-gapless {
  padding-top:1.75em;
  .tile {
    @extend .is-paddingless;
  }
}







